<button
  (clickOutside)="closeDropdown()"
  class="app-select"
  (click)="openDropdown($event, dropdown)">

  <ng-container *ngIf="!withoutSearch">
    <ng-template [ngIf]="!isOpen" [ngIfElse]="searchTpl">
      {{ label }}
    </ng-template>

    <ng-template #searchTpl>
      <input
        type="text"
        placeholder="{{ placeholder }}"
        autofocus
        [formControl]="searchControl"
        (click)="handleClick($event)">
    </ng-template>
  </ng-container>

  <ng-container *ngIf="withoutSearch">
    <span class="dotdotdot">
      {{ label }}
    </span>
  </ng-container>

  <span
    class="app-select__arrow"
    [class.opened]="isOpen">
  </span>
</button>

<ng-template #dropdown>

  <div
    [style.width.px]="getWidth()"
    class="select-menu">

    <div
      class="select-menu-inner"
      [style.max-height]="config.maxHeight">

      <div *ngIf="!optionList.length">
        No result found...
      </div>

      <ng-container *ngIf="optionList.length">
        <div
          *ngIf="withNone"
          class="select-item none"
          (click)="select(null, $event)">
          <span> None </span>
        </div>

        <div
          class="select-item"
          *ngFor="let option of optionList"
          [class.selected]="getSelected(option)"
          (click)="select(option, $event)">
        <span>
          {{ option.name }}
        </span>
        </div>
      </ng-container>
    </div>

  </div>

</ng-template>
